.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: transparent;
    transition: .4s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo,
    &__toggle {
        color: var(--white-color);
    }

    &__logo {
        font-weight: var(--font-semi-bold);
    }

    &__toggle {
        font-size: 1.2rem;
        cursor: pointer;
    }

    &__menu {
        position: fixed;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
    }

    &__link {
        color: var(--text-color-light);
        font-weight: var(--font-semi-bold);
        text-transform: uppercase;
        transition: .4s;
        
        &:hover {
            color: var(--text-color);
        }
    }

    &__close {
        position: absolute;
        top: .75rem;
        right: 1rem;
        font-size: 1.5rem;
        color: var(--title-color);
        cursor: pointer;
    }
}

@media screen and (max-width: 767px) {
    .nav {
        &__menu {
            position: fixed;
            background-color: var(--body-color);
            top: 0;
            right: -100%;
            width: 70%;
            height: 100%;
            box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, .15);
            padding: 3rem;
            transition: .4s;
        }
    }
}

.show-menu {
    right: 0;
}

.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 0 4px hsla(var(--hue-color), 64%, 15%, .15);

    & .nav__logo,
    & .nav__toggle {
        color: var(--title-color);
    }
}